.dropdown {
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 30px;
    flex-grow: 0;
    flex-shrink: 1;
}

.dropdown-label {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    min-width: 150px;
    -unity-text-align: middle-left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.dropdown-box {
    background-color: rgb(255, 255, 255);
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: row;
    padding-top: 0;
    padding-right: 7px;
    padding-left: 7px;
}

.dropdown-text {
    -unity-text-align: middle-left;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
}

.dropdown-arrow {
    padding-right: 0;
    translate: 0 0;
}
